In [1]:
import pandas as pd
import mysql.connector

In [2]:
# MySQL connection

conn = mysql.connector.connect(
    host='127.0.0.1',
    user='root',
    password='sri123',
    database='food_wastage_management'
)
cursor=conn.cursor()
print(cursor)

CMySQLCursor: (Nothing executed yet)

In [3]:
#load providers

providers=pd.read_csv('E:/Project/Food Waste Management/Datasets/providers_data.csv')
for _,rows in providers.iterrows():
    cursor.execute("""
                   INSERT INTO providers VALUES (%s, %s, %s, %s, %s, %s )
                """,tuple(rows))
print(providers.head())

   Provider_ID                         Name           Type  \
0            1             Gonzales-Cochran    Supermarket
1            2  Nielsen, Johnson and Fuller  Grocery Store
2            3                 Miller-Black    Supermarket
3            4   Clark, Prince and Williams  Grocery Store
4            5               Coleman-Farley  Grocery Store

                                             Address            City  \
0  74347 Christopher Extensions\nAndreamouth, OK ...     New Jessica
1           91228 Hanson Stream\nWelchtown, OR 27136     East Sheena
2  561 Martinez Point Suite 507\nGuzmanchester, W...  Lake Jesusview
3     467 Bell Trail Suite 409\nPort Jesus, IA 61188     Mendezmouth
4  078 Matthew Creek Apt. 319\nSaraborough, MA 53978   Valentineside

                Contact
0       +1-600-220-0480
1  +1-925-283-8901x6297
2      001-517-295-2206
3      556.944.8935x401
4          193.714.6577

In [4]:
#load receviers

receivers=pd.read_csv('E:/Project/Food Waste Management/Datasets/receivers_data.csv')
for _,rows in receivers.iterrows():
    cursor.execute("""
                   INSERT INTO receivers VALUES (%s, %s, %s, %s, %s )
                """,tuple(rows))
print(receivers.head())

   Receiver_ID          Name        Type               City           Contact
0            1  Donald Gomez     Shelter     Port Carlburgh     (955)922-5295
1            2  Laurie Ramos  Individual         Lewisburgh      761.042.1570
2            3  Ashley Mckee         NGO  South Randalltown  691-023-0094x856
3            4    Erika Rose         NGO   South Shaneville        8296491111
4            5   John Romero  Individual          Bakerport      067.491.0154

In [9]:
# Load Food Listings

food = pd.read_csv('E:/Project/Food Waste Management/Datasets/food_listings_data.csv')
food['Expiry_Date'] = pd.to_datetime(food['Expiry_Date']).dt.date
for _, row in food.iterrows():
    cursor.execute("""
        INSERT INTO food_listings VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, tuple(row))
print(food.head())

   Food_ID Food_Name  Quantity Expiry_Date  Provider_ID     Provider_Type  \
0        1     Bread        43  2025-03-17          110     Grocery Store
1        2      Soup        22  2025-03-24          791     Grocery Store
2        3    Fruits        46  2025-03-28          478  Catering Service
3        4    Fruits        15  2025-03-16          930        Restaurant
4        5      Soup        14  2025-03-19          279        Restaurant

           Location       Food_Type  Meal_Type
0  South Kellyville  Non-Vegetarian  Breakfast
1        West James  Non-Vegetarian     Dinner
2       Lake Regina           Vegan  Breakfast
3         Kellytown           Vegan      Lunch
4        Garciaport           Vegan     Dinner

In [10]:
# Load Claims

claims = pd.read_csv('E:/Project/Food Waste Management/Datasets/claims_data.csv')
claims['Timestamp'] = pd.to_datetime(claims['Timestamp'])
for _, row in claims.iterrows():
    cursor.execute("""
        INSERT INTO claims VALUES (%s, %s, %s, %s, %s)
    """, tuple(row))
print(claims.head())

   Claim_ID  Food_ID  Receiver_ID     Status           Timestamp
0         1      164          908    Pending 2025-03-05 05:26:00
1         2      353          391  Cancelled 2025-03-11 10:24:00
2         3      626          492  Completed 2025-03-21 00:59:00
3         4       61          933  Cancelled 2025-03-04 09:08:00
4         5      345          229    Pending 2025-03-14 15:17:00

In [11]:
conn.commit()
conn.close()